*{
    padding: 0;
    margin: 0;
}
.form{
    width: 600px;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: column;
                       
}
h1{
    text-align: center;
    margin-bottom: 10px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  

input{
    width: 400px;
    
    padding: 10px;
}
.sugerencias{
    
    margin-top: 5px;
    width: 424px;
    height: auto;
    background-color: rgb(177, 190, 190);
    align-self: flex-end;
    list-style: none;
    
}
ul{
    height: auto;
}
li{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 1px solid grey;
    padding: 10px;
    cursor: pointer;
    list-style: none;
}
li:hover{
    background-color: rgb(172, 167, 167);
}
#table{
  
    width: 50%;
    margin:  100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    flex-direction: column;
    
}